speechrecognition==3.10.0
edge-tts==6.1.9
pygame==2.5.2
requests==2.31.0
pyaudio==0.2.11
pywhatkit==5.4
wikipedia==1.4.0
pyautogui==0.9.54
spotipy==2.22.1
python-dotenv==1.0.0
google-generativeai==0.3.2
opencv-python==4.8.1.78
Pillow==10.0.1
numpy==1.24.3
AppOpener==1.7